{% extends 'consumption/layout.html' %}

{% block content %}

<h1>Individual Details</h1>
<br/>
<ul>
  <li><a href="{% url 'homepg' %}">Home</a></li>
<ul>

<br/>
<br/>
<h3>Table</h3>
<br/>
<table>
    <tr>
        <th>id</th>
        <th>Area</th>
        <th>Tariff</th>
    </tr>

    <tr>
        <td>{{ latest_info_list.id }}</td>
        <td>{{ latest_info_list.area }}</td>
        <td>{{ latest_info_list.tariff }}</td>
    </tr>

</table>

<br/>
<br/>

<div id="myChart"></div>
<head>
     <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<script>

	TESTER = document.getElementById('myChart');
  var incoming = {{data_indiv|safe}}
	Plotly.plot( TESTER, [incoming], {
	margin: { t_indiv: 0 }, title:'Total Consumption of Individual (per day)',   xaxis: {
    title: 'Date (day)'
  },
  yaxis: {
    title: 'Total consumption (Wh)'
  }
  } );
</script>

{% endblock %}
