{% extends 'consumption/layout.html' %}

{% block content %}

<h1>SMAP Challenge</h1>
<br/>
<br/>

<h3>Enter consumer id to get individual data</h3>
<form action = "{% url 'detail' %}">
  <input type = "text" name = "originaltxt"/>
  <br />
  <input type = "submit" value = "Individual consumer id"/>
</form>

<br/>
<h3>Table</h3>
<br/>

<table>
    <tr>
        <th>id</th>
    </tr>
    {% for item in latest_question_list %}
    <tr>
        <td>{{ item.id }}</td>
    </tr>
    {% endfor %}
</table>

<br/>
<br/>

<div id="myChart"></div>
<head>
     <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<script>

	TESTER = document.getElementById('myChart');
  var incoming = {{data|safe}}
	Plotly.plot( TESTER, [incoming], {
	margin: { t: 0 }, title:'Total Consumption (per day)',   xaxis: {
    title: 'Date (day)'
  },
  yaxis: {
    title: 'Total Consumption (Wh)'
  }
  } );
</script>

{% endblock %}
